//
// PROGDLG.RC
//
// Include this file into "YourApp.rc"

#ifndef tag_FH_PROGRESS
#define tag_FH_PROGRESS


IDD_FH_PROGRESS DIALOGEX 0, 0, 221, 266
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "Cancel",IDCANCEL,67,245,50,14
    CONTROL         "Progress1",CG_IDC_PROGDLG_PROGRESS,"msctls_progress32",
                    WS_BORDER,15,34,127,13
    LTEXT           " 0 %",CG_IDC_PROGDLG_PERCENT,66,23,18,8
    LTEXT           "",CG_IDC_PROGDLG_STATUS,7,14,139,8
    EDITTEXT        IDC_Monitor,16,54,128,183,ES_MULTILINE | ES_AUTOVSCROLL | 
                    ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL | WS_HSCROLL,
                    WS_EX_CLIENTEDGE | WS_EX_STATICEDGE
    LTEXT           "Total Value Number:",IDC_STATIC,153,42,52,17
    EDITTEXT        IDC_nTotal,154,62,48,14,ES_AUTOHSCROLL | WS_DISABLED
    LTEXT           "Start Number:",IDC_STATIC,153,93,52,10
    EDITTEXT        IDC_nStart,154,105,48,14,ES_AUTOHSCROLL
    LTEXT           "End Number:",IDC_STATIC,152,130,52,10
    EDITTEXT        IDC_nEnd,154,142,48,14,ES_AUTOHSCROLL
END


#endif

